DATABASE_PASSWORD=postgres
DATABASE_USER=postgres
DATABASE_NAME=lonestone_test
DATABASE_HOST=localhost
DATABASE_PORT=5111

# Used only if API is launched via docker compose
API_PORT=3000
API_BASE_URL=http://localhost:3000

BETTER_AUTH_SECRET=test_secret_key_for_better_auth
TRUSTED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:5174

# MailDev (docker compose)
SMTP_PORT_WEB=1080
SMTP_PORT=1025


